@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Nunito+Sans:opsz,wght@6..12,300&family=Oxygen:wght@300;400&family=Roboto+Condensed:wght@300&family=Work+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* MENU STYLIZATION */
.menu ul{
    list-style-type: none;
    background: linear-gradient(rgb(37,202,106), rgb(119, 218, 157), rgb(52, 120, 82));
    overflow: hidden;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
}

.menu li{
    float: left;
}

.menu li a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}

.menu li a:hover{
    background-color: rgb(26, 173, 53);
    color: rgb(0, 0, 0);
}
/* END MENU STYLIZATION */

body{
    background-color: rgb(182, 222, 227);
}

.video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 125px;
    width: 1200px;
}

img{
    position: absolute;
    width: 390px;
    top: 0;
    left: 0;
    right:0;
}

.error{
    margin-top: 75px;
    margin-left: 10px;
}

.error2{
    margin-top: 42px;
    margin-left: 940px
}

.error3{
    margin-top: 200px;
    margin-left: 90px;
}

.error4{
    margin-top: 640px;
    margin-left: 100px;
}

.error5{
    margin-left: 600px;
    margin-top: 30px;
}

.error6{
    margin-left: 880px;
    margin-top: 570px;
}